.login-panel {
    border: 2px solid black;
    width: 35vw;
    height: 50vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 2vh 1vw 2vh 1vw;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.grid-float-center {
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid-float-right {
    justify-content: left;
}

input {
    background-color: #F0F0F0;
    border: none;
    height: 100%;
    padding: 0.8rem;
    width: 22.5vw;
}

.login-status {
    text-align: center;
    padding-bottom: 1rem;
}

.login-panel-small-text-blue-hyperlink {
    color: #0077E4;
    cursor: pointer;
}

.login-panel-small-text {
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 0;
}

.login-panel-small-text-left-margin {
    margin-left: 5vw;
}

.login-button {
    background-color: rgba(54, 191, 250, 0.57);
    padding: 1.5vh 1.5vw 1.5vh 1.5vw;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
}

.sign-in-popup-panel {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EDE4E4;
    -webkit-box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, 1);
    border-radius: 15px;

    border: 2px solid black;
    width: 40vw;
    height: 55vh;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 2vh 1vw 2vh 1vw;
    overflow: hidden;
}

.sign-in-popup-panel > h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

.login-button:hover {
    background-color: black;
    color: white;
}

.sign-in-action-buttons {
    float: right;
    padding-right: 1rem;
}

.sign-in-action-buttons button{
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
  margin-right: 1rem;
}

.sign-in-close-button {
  border: 2px solid red;
  transition: 0.3s;
}

.sign-in-save-button {
  border: 2px solid black;
  transition: 0.3s;
}