.modal-window {
    position: fixed;
    z-index: 10;
    width: 40vw;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 200%);
    background-color: #EDE4E4;
    -webkit-box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, 1);
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden;
}

.modal-window-form-container {
    padding: 1rem;
}

.modal-window .modal-window-title {
    background-color: rgba(54, 191, 250, 0.5);
}

.modal-window .modal-window-title p{
    font-size: 1.5rem;
    margin: auto;
    width: fit-content;
    padding: 1rem;
}

.modal-window-panel > div >input, .modal-window-panel > div >label {
    height: 5vh;
    border: none;
}

.modal-window-panel {
    display: block;
    margin: auto;
    width: fit-content;
    padding: 0.2rem;
    margin-bottom: 1rem;
}

.modal-window-panel > div {
    padding: 0.4rem;
    text-align: right;
}

.modal-window-action-buttons {
      text-align: center;
      padding: 1rem 0rem;
      display: flex;
      justify-content: center;
  }

.modal-window-action-buttons button{
    padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    margin-right: 0.6rem;
}

.modal-window-action-buttons div{
    padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    margin-right: 0.6rem;
    cursor: pointer;
    background-color: buttonface;
}

.modal-window-close-button {
    border: 2px solid red;
    transition: 0.3s;
}

.modal-window-save-button {
    border: 2px solid black;
    transition: 0.3s;
    font-weight: bold;
}

.modal-window-inputs-padding {
    padding: 0.4rem;
}
.modal-window-action-buttons div:hover {
    background-color: black;
    color: white;
}
#overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5); /* color */
  display: none; /* making it hidden by default */
  z-index: 1;
}

.modal-in {
    display: block;
    animation: modalMoveUp 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal-out {
    animation: modalMoveDown 0.8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes modalMoveUp {
    0%{    transform: translate(-50%, 200%);}
    100%{    transform: translate(-50%, -50%);}
}

@keyframes modalMoveDown {
    0%{    transform: translate(-50%, -50%);}
    100%{    transform: translate(-50%, 200%);}
}