<!DOCTYPE html>
<html lang="pl"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Computer Service APP</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Muli" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/normalize.css}">
        <link rel="stylesheet" th:href="@{/css/main-page-style.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/modal-windows-style.css}">
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="grid-container-menu">
                    <div class="item1"></div>
                    <div class="item-hamburger-menu">
                        <a th:href="@{/logout}"><div class="logout" id="logout">WYLOGUJ</div></a>
                        <div class="hamburger-menu"></div>
                    </div>
                    <a th:href="@{/index/service-request}" class="menu-item-overflow"><div class="item-menu">PRZYJĘCIA SERWISOWE</div></a>
                    <a th:href="@{/index/clients}" class="menu-item-overflow"><div class="item-menu">KLIENCI</div></a>
                    <a th:href="@{/index/employees}" class="menu-item-overflow"><div class="item-menu">PRACOWNICY</div></a>
                </nav>
            </header>
            <main>
                <button class="dodaj-przyjecie" data-toggle="modal" id="addNewButton" data-target="#newClientModal">+DODAJ KLIENTA</button>
                <div class="center">
                    <table class="tabela-przyjecia">
                        <tr>
                            <th>ID</th>
                            <th>IMIĘ</th>
                            <th>NAZWISKO</th>
                            <th>NUMER TELEFONU</th>
                            <th>E-MAIL</th>
                            <th></th>
                        </tr>
                        <tr th:each="client : ${client}">
                            <td th:text="${client.id}"></td>
                            <td th:text="${client.firstName}"></td>
                            <td th:text="${client.lastName}"></td>
                            <td th:text="${client.phoneNumber}"></td>
                            <td th:text="${client.email}"></td>
                            <td class="td-buttons">
                                <div class="grid-edit-buttons">
                                    <a id="editButton" th:href="@{/index/clients/getClient/(id=${client.id})}"><div class="edit-button">EDYTUJ</div></a>
                                    <a id="deleteButton" th:href="@{'/index/clients/delete/' + ${client.id}}"><div class="delete-button">USUŃ</div></a>
                                </div>
                            </td>
                        </tr>
                        <!--<tr>
                            <td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>-->
                    </table>
                </div>
            </main>
            <div class="modal-window display-block" id="newClientModal" tabindex="-1" role="dialog" aria-hidden="true">
                <form action="#" method="POST" th:action="@{/index/clients/addNew}" th:object="${client}">
                    <div class="modal-window-title">
                        <p>NOWY KLIENT</p>
                    </div>
                    <div class="modal-window-panel">
                        <div><label for="client-firstname">Imię: </label>
                            <input type="text" placeholder="Wpisz imię..." name="firstName" id="client-firstname" class="modal-window-inputs-padding" />
                        </div>
                        <div><label for="client-lastname">Nazwisko: </label>
                            <input type="text" placeholder="Wpisz nazwisko..." name="lastName" id="client-lastname" class="modal-window-inputs-padding">
                        </div>
                        <div><label for="client-phone">Numer telefonu: </label>
                            <input type="text" placeholder="Wpisz numer..." name="phoneNumber" id="client-phone" class="modal-window-inputs-padding">
                        </div>
                        <div><label for="client-mail">Adres e-mail: </label>
                            <input type="text" placeholder="Wpisz e-mail..." name="email" id="client-mail" class="modal-window-inputs-padding">
                        </div>
                        <div><label for="client-passwd">Hasło: </label>
                            <input type="password" placeholder="Wpisz hasło..." name="password" id="client-passwd" class="modal-window-inputs-padding">
                        </div>
                        <div><label for="client-passwd-repeat">Potwierdź hasło: </label>
                            <input type="password" placeholder="Wpisz hasło..." name="client-passwd-repeat" id="client-passwd-repeat" class="modal-window-inputs-padding">
                        </div>
                    </div>
                    <div class="modal-window-action-buttons">
                        <button class="modal-window-save-button" type="submit" value="zapisz">ZAPISZ</button>
                        <div class="modal-window-close-button" data-dismiss="modal" value="anuluj" id="addNewButtonClose">ANULUJ</div>
                    </div>
                </form>
            </div>
            <div id="overlay">
            </div>
            <div class="modal-window display-block" id="deleteWarning" tabindex="-1" role="dialog" aria-hidden="true">
                <div>
                    <div class="modal-window-title">
                        <p>USUŃ KLIENTA</p>
                    </div>
                    <div class="modal-window-form-container">
                        <!--<form action="#" method="PUT" th:action="@{/index/clients/update}" th:object="${client}">-->
                            <div class="modal-window-panel center">
                                <p>UWAGA! TA OPERACJA JEST NIEODWRACALNA!</p>
                                <p>CZY NA PEWNO CHCESZ USUNĄĆ KLIENTA?</p>
                            </div>
                            <div class="modal-window-action-buttons">
                                <div class="modal-window-save-button" data-dismiss="modal" value="zapisz" id="deleteModalConfirm">POTWIERDŹ</div>
                                <div class="modal-window-close-button" data-dismiss="modal" id="deleteModalClose" value="anuluj">ANULUJ</div>
                            </div>
                        <!--</form>-->
                    </div>
                </div>
            </div>

            <div class="modal-window display-block" id="editClientModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div>
                    <div class="modal-window-title">
                        <p id="editIdTitle"></p>
                    </div>
                    <div class="modal-window-form-container">
                        <form action="#" method="PUT" th:action="@{/index/clients/update}" th:object="${client}">
                            <div class="modal-window-panel">
                                <div><label for="editClientId">Imię: </label>
                                    <input type="text" name="id" id="editClientId" class="modal-window-inputs-padding" readonly/>
                                </div>
                                <div><label for="editClientFirstname">Imię: </label>
                                    <input type="text" placeholder="Wpisz imię..." name="firstName" id="editClientFirstname" class="modal-window-inputs-padding" />
                                </div>
                                <div><label for="editClientLastname">Nazwisko: </label>
                                    <input type="text" placeholder="Wpisz nazwisko..." name="lastName" id="editClientLastname" class="modal-window-inputs-padding">
                                </div>
                                <div><label for="editClientPhone">Numer telefonu: </label>
                                    <input type="text" placeholder="Wpisz numer..." name="phoneNumber" id="editClientPhone" class="modal-window-inputs-padding">
                                </div>
                                <div><label for="editClientMail">Adres e-mail: </label>
                                    <input type="text" placeholder="Wpisz e-mail..." name="email" id="editClientMail" class="modal-window-inputs-padding">
                                </div>
                                <div><label for="editClientPassword">Hasło: </label>
                                    <input type="password" placeholder="Wpisz hasło..." name="password" id="editClientPassword" class="modal-window-inputs-padding">
                                </div>
                                <div><label for="editClientPasswordRepeat">Potwierdź hasło: </label>
                                    <input type="password" placeholder="Wpisz hasło..." name="client-passwd-repeat" id="editClientPasswordRepeat" class="modal-window-inputs-padding">
                                </div>
                            </div>
                            <div class="modal-window-action-buttons">
                                <button class="modal-window-save-button" type="submit" value="zapisz">ZAPISZ</button>
                                <div class="modal-window-close-button" data-dismiss="modal" id="editModalClose" value="anuluj">ANULUJ</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/clients.js" th:src="@{/js/clients.js}"></script>
    </body>
</html>