<!DOCTYPE html>
<html lang="pl"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Computer Service APP</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Muli" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/main-page-style.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/modal-windows-style.css}">
</head>
<body>
<div class="container">
  <main>
    <h2>ERROR 403: Odmowa dostępu. Nie masz uprawnień do przeglądania tych treści. Wróć do <a href="/index/service-request">strony głównej</a>.</h2>
  </main>
</div>
</body>
</html>